.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  height: 50vh;
  width: 50vw;
}
.inputname {
  color: green;
  font-size: 1rem;
  font-weight: 30rem;
  font-style: oblique;
}
/* .button{
  font-style: sans-serif;
  height: 10vh;
width: 20vw;

} */
